Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-braces-around-statements,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -performance-enum-size,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -modernize-avoid-variadic-functions
WarningsAsErrors: ''
HeaderFilterRegex: '(src|apps|tools)/'
FormatStyle: file
