Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-braces-around-statements,
  cppcoreguidelines-init-variables,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '(src|apps|tools)/'
FormatStyle: file
